.rselect2-container {
  width: 50%;
}

.rselect2-container {
  display: flex;
  width: 100%;
  min-height: 150px;
  max-height: 150px;
}

.rselect2-component-container, .rselect2-value-container {
  display: grid;
  width: 50%;
  height: auto;
  padding: 5px;
  margin: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}
