<div Markdown>
  # RSelect2 simple ajax select
</div>
<div class="rselect2-container">
  <div class="rselect2-component-container">
    <rselect2
      [data]="data"
      [options]="options"
      [(entity)]="entity"
      (valueChanged)="valueChanged()"
      [width]="'100%'">
    </rselect2>
  </div>
  <div class="rselect2-value-container">
    <ngx-json-viewer [json]="{entity: entity}"></ngx-json-viewer>
  </div>
</div>
<div Markdown>
  ## Ajax selection description
  * Ajax data loading performed by providing *ajax* property to *[options]*
  * Natively select2 performs http request for data over JQuery http client but it may be overloaded with custom *transport* (In this example $.ajax overloaded with custom see _rdata.service.ts_)
  * To support initial selection for page refresh property *data* used
  * Search also working
</div>
